@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

window {
    width: 60%;
    padding:    0px;
}

listview {
    lines: 5;
    fixed-height: true;
}

prompt {
    enabled: false;
}

configuration {
    modi: "drun,run,combi";
    combi-modi: "drun,run";
    drun-match-fields: "name,exec";
    show-icons: true;
    location: 2;
    font: "Noto 11";
}
